.name {
    border: 1px blue solid;
    margin-top: 10px;
    background-color: lightgrey;
    color: black;
    padding-left: 10px;
}

.header1 {
    border: 1px blue solid;
    background-color: yellow;
    color: black;
    margin-top:-1px;
    margin-right:-15px;
    margin-left:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header2 {
    border: 1px blue solid;
    background-color: yellow;
    color: black;
    margin-top:-1px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header3 {
    border: 1px blue solid;
    background-color: orange;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:220px;
    text-align:center;
    padding: 15px;
}
.header4 {
    border: 1px blue solid;
    background-color: orange;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:220px;
    text-align:center;
    padding: 15px;
}
.header5 {
    border: 1px blue solid;
    background-color: orange;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:220px;
    text-align:center;
    padding: 15px;
}
.header6 {
    border: 1px blue solid;
    background-color: hotpink;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header7 {
    border: 1px blue solid;
    background-color: hotpink;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header8 {
    border: 1px blue solid;
    background-color: hotpink;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header9 {
    border: 1px blue solid;
    background-color: hotpink;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header10 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header11 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header12 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header13 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header14 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}
.header15 {
    border: 1px blue solid;
    background-color: lightgreen;
    color: black;
    margin-top:-11px;
    margin-left:-15px;
    margin-right:-15px;
    height:70px;
    text-align:center;
    padding: 20px;
}